html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
small {
  font-size: 80%;
}
video {
  display: inline-block;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
[type="reset"],
[type="submit"],
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
[hidden] {
  display: none;
}
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
img,
svg {
  display: block;
}
html {
  font-size: 20px;
  line-height: 30px;
}
body {
  font-size: 1rem;
}
body {
  font-family: Heebo, sans-serif;
}
a {
  color: #f9425f;
  text-decoration: none;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: underline;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}
.h1,
h1 {
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0;
}
@media (min-width: 641px) {
  .h1,
  h1 {
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0;
  }
}
.h2,
h2 {
  font-size: 40px;
  line-height: 52px;
  letter-spacing: 0;
}
@media (min-width: 641px) {
  .h2,
  h2 {
    font-size: 44px;
    line-height: 56px;
    letter-spacing: 0;
  }
}
.h3,
h3 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.1px;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.1px;
}
.text-sm {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.1px;
}
.h1,
.h2,
h1,
h2 {
  margin-top: 48px;
  margin-bottom: 16px;
}
.h3,
h3 {
  margin-top: 36px;
  margin-bottom: 12px;
}
.h4,
.h5,
.h6,
h4,
h5,
h6 {
  margin-top: 24px;
  margin-bottom: 4px;
}
p {
  margin-top: 0;
  margin-bottom: 24px;
}
small {
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.1px;
}
.container,
.container-sm {
  width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 481px) {
  .container,
  .container-sm {
    padding-left: 24px;
    padding-right: 24px;
  }
}
.container {
  max-width: 1128px;
}
.container-sm {
  max-width: 848px;
}
.container .container-sm {
  max-width: 800px;
  padding-left: 0;
  padding-right: 0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.has-top-divider {
  position: relative;
}
.has-top-divider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: #273c5a;
  background: linear-gradient(
    to right,
    rgba(39, 60, 90, 0.1) 0,
    rgba(39, 60, 90, 0.6) 50%,
    rgba(39, 60, 90, 0.1) 100%
  );
}
.has-bottom-divider {
  position: relative;
}
.has-bottom-divider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 1px;
  background: #273c5a;
  background: linear-gradient(
    to right,
    rgba(39, 60, 90, 0.1) 0,
    rgba(39, 60, 90, 0.6) 50%,
    rgba(39, 60, 90, 0.1) 100%
  );
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mt-16 {
  margin-top: 16px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-32 {
  margin-top: 32px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mt-40 {
  margin-top: 40px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-48 {
  margin-top: 48px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mt-56 {
  margin-top: 56px;
}
.mb-56 {
  margin-bottom: 56px;
}
.mt-64 {
  margin-top: 64px;
}
.mb-64 {
  margin-bottom: 64px;
}
.p-0 {
  padding: 0;
}
.p-8 {
  padding: 8px;
}
.p-16 {
  padding: 16px;
}
.p-24 {
  padding: 24px;
}
.p-32 {
  padding: 32px;
}
.p-40 {
  padding: 40px;
}
.p-48 {
  padding: 48px;
}
.p-56 {
  padding: 56px;
}
.p-64 {
  padding: 64px;
}
.features .section-title {
  margin-bottom: 48px;
}
.features-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-right: -30px;
  margin-left: -30px;
}
.features-wrap:first-of-type {
  margin-top: -16px;
}
.features-wrap:last-of-type {
  margin-bottom: -16px;
}
.feature {
  padding: 16px 30px;
  width: 380px;
  max-width: 380px;
  flex-grow: 1;
}
.feature-inner {
  height: 100%;
}
.feature-title {
  font-family: Heebo, sans-serif;
  font-weight: 500;
}
@media (min-width: 641px) {
  .features {
    position: relative;
  }
  .features .section-inner {
    padding-bottom: 100px;
  }
  .features .section-title {
    position: relative;
    margin-bottom: 80px;
  }
  .features .section-title::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -25px;
    width: 49px;
    height: 50px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDkiIGhlaWdodD0iNTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICA8cGF0aCBmaWxsPSIjMjczQzVBIiBkPSJNMTQuMTM4IDlsLTcuOTczIDMuNjY3TDQgMjAuNDMybDIuNTQ3IDcuMzkzTDE0LjEzNyAzMWw3LjE0OC0zLjYwNUwyNiAyMC40MzJsLTMuNTYzLTguMDgzeiIvPiAgICA8cGF0aCBmaWxsPSIjNzQ4N0EzIiBkPSJNNDYuMzA0IDBsLTEuODEyLjgzM0w0NCAyLjU5OGwuNTc5IDEuNjhMNDYuMzA0IDVsMS42MjQtLjgyTDQ5IDIuNTk5IDQ4LjE5Ljc2MXpNMi4zMDQgNDVsLTEuODEyLjgzM0wwIDQ3LjU5OGwuNTc5IDEuNjhMMi4zMDQgNTBsMS42MjQtLjgyTDUgNDcuNTk5bC0uODEtMS44Mzd6Ii8+ICA8L2c+PC9zdmc+);
  }
  .features::before {
    content: "";
    position: absolute;
    right: 0;
    top: 60px;
    width: 257px;
    height: 279px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjU3IiBoZWlnaHQ9IjI3OSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxkZWZzPiAgICA8bGluZWFyR3JhZGllbnQgeDE9IjguNjg1JSIgeTE9IjIzLjczMyUiIHgyPSI5OS40MzUlIiB5Mj0iODUuMDc4JSIgaWQ9ImEiPiAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxRDMwNEIiIG9mZnNldD0iMCUiLz4gICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMUQzMDRCIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMTAwJSIvPiAgICA8L2xpbmVhckdyYWRpZW50PiAgPC9kZWZzPiAgPHBhdGggZD0iTTE4MzAuMTcxIDEwMTcuNjRjMTYwLjA4NiAwIDcwMi41MjctMjI4LjI2IDI4OS44NjItMjkwLTQxMi42NjYtNjEuNzM3LTEyOS43NzYtMjkwLTI4OS44NjItMjkwcy0yODkuODYxIDEyOS44MzgtMjg5Ljg2MSAyOTBjMCAxNjAuMTYzIDEyOS43NzUgMjkwIDI4OS44NjEgMjkweiIgdHJhbnNmb3JtPSJzY2FsZSgtMSAxKSByb3RhdGUoLTYgLTU4NTQuMTU0IDIyMTE0Ljg1NykiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  }
  .features-wrap:first-of-type {
    margin-top: -32px;
  }
  .features-wrap:last-of-type {
    margin-bottom: -32px;
  }
  .feature {
    padding: 32px 30px;
  }
}
.body-wrap {
  background: #06101f;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.section-inner {
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}
@media (min-width: 641px) {
  .section-inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
