.app-container {
  background-color: darksalmon;
  font-family: "PT Serif", sans-serif !important;
  width: 100%;
}

.app-edit-overlay {
  background-color: white;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 12px;
  outline: none;
  padding: 24px;
  position: fixed;
  right: 12px;
  top: 0px;
  z-index: 100500;
}

.app-card, .app-acts .app-act-card, .app-part-card, .app-performance-card {
  display: flex;
  flex-direction: column;
  font-family: PT Sans Narrow;
}

.app-performance-card {
  gap: 96px;
  padding: 24px;
}
.app-performance-card .app-name {
  text-align: center;
  flex-grow: 1;
}
.app-performance-card .app-performance-name {
  text-align: center;
}
.app-performance-card .app-performance-addon {
  padding: 0px 24px;
  text-align: center;
  flex-grow: 1;
}
.app-action-btn {
  cursor: pointer;
  opacity: 0.4;
  padding: 4px;
}

.app-parts .app-part {
  background-color: antiquewhite;
}

.app-part-card {
  gap: 24px;
  padding: 24px;
}
.app-part-card .app-part-title {
  line-height: 32px;
  align-self: center;
  cursor: pointer;
}
.app-part-card .app-part-name {
  cursor: pointer;
}
.app-part-card .app-part-addon {
  cursor: pointer;
}

.app-part-performers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.app-part-performers .app-part-performer {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.app-part-performers .app-part-performer .app-part-performer-role {
  min-width: 120px;
  max-width: 120px;
  opacity: 0.5;
}
.app-acts {
  gap: 16px;
  display: flex;
  flex-direction: column;
  padding: 0px -24px;
}
.app-acts .app-act-card {
  background-color: ghostwhite;
  gap: 24px;
  padding: 24px;
}
.app-acts .app-act-card .app-part-title {
  cursor: pointer;
}
.app-acts .app-act-card .app-act-name {
  cursor: pointer;
}
.app-acts .app-act-card .app-act-addon {
  cursor: pointer;
}

.app-act-performers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.app-act-performers .app-act-performer {
  cursor: pointer;
}
.app-act-performers .app-act-performer .app-act-performer-role {
  opacity: 0.5;
}
.app-act-authors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: -48px;
}
.app-act-authors .app-act-author {
  flex-direction: row;
  display: flex;
  cursor: pointer;
}
.app-act-authors .app-act-author .app-act-author-role {
  min-width: 120px;
  max-width: 120px;
  opacity: 0.5;
}
.app-action-btn-hidden {
  visibility: hidden;
}

.app-cross-card-btn-container {
  position: relative;
}
.app-cross-card-btn-container .app-cross-card-btn-add-part, .app-cross-card-btn-container .app-cross-card-btn-add-act {
  -webkit-transition: all 0.3s;
  background: antiquewhite;
  border-radius: 50%;
  border: 1px solid;
  bottom: 0;
  color: darksalmon;
  cursor: pointer;
  font-size: 28px;
  height: 48px;
  left: 0;
  line-height: 48px;
  margin: auto auto -24px auto;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.3s;
  width: 48px;
}
.app-cross-card-btn-container .app-cross-card-btn-add-act {
  background: ghostwhite;
  color: darksalmon;
  cursor: pointer;
}

.app-typography-1, .app-part-card .app-part-name {
  font-family: PT Serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.9px;
}

.app-typography-2, .app-performance-card .app-performance-addon, .app-performance-card .app-performance-location, .app-part-performers .app-part-performer .app-part-performer-role, .app-act-performers .app-act-performer .app-act-performer-role, .app-act-authors .app-act-author .app-act-author-role {
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.53px;
}

.app-typography-3, .app-performance-card .app-performance-name {
  font-family: PT Serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 37.1px;
}

.app-typography-4, .app-performance-card .app-name, .app-part-card .app-part-title, .app-acts .app-act-card .app-part-title {
  font-family: PT Sans Narrow;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1em;
}

.app-typography-5, .app-part-card .app-part-addon, .app-part-performers .app-part-performer .app-part-performer-who, .app-acts .app-act-card .app-act-addon, .app-act-performers .app-act-performer .app-act-performer-addon, .app-act-authors .app-act-author .app-act-author-name {
  font-family: PT Serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.9px;
}

.app-typography-6, .app-acts .app-act-card .app-act-name {
  font-family: PT Serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.8px;
}

.app-typography-7, .app-act-performers .app-act-performer .app-act-performer-name {
  font-family: PT Serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.85px;
}/*# sourceMappingURL=template.css.map */